<!-- <app-quote></app-quote> -->

<!--The content below is only a placeholder and can be replaced.-->

 <div style="text-align:center">
  <h1 class="display-1">Funny Quotes</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <div class="col-md-6">

            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>        <!-- <app-quote-vote></app-quote-vote> -->

      </div>
      <div class="row">
          <br>
          <h6>An angular project assignment
          <br>
          Moringa School
          <br>
          by Cherucole
        </h6>


      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

          <app-quote></app-quote>

      </div>
      <br>



    </div>

  </div>

</div>
